Source: ros-rolling-frequency-cam
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-auto, ros-rolling-ament-cmake-clang-format <!nocheck>, ros-rolling-ament-cmake-ros, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-cv-bridge, ros-rolling-event-camera-codecs, ros-rolling-event-camera-msgs, ros-rolling-image-transport, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rosbag2-cpp, ros-rolling-std-msgs, ros-rolling-ros-workspace
Homepage: https://index.ros.org/p/frequency_cam/#rolling
Standards-Version: 3.9.2

Package: ros-rolling-frequency-cam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-cv-bridge, ros-rolling-event-camera-codecs, ros-rolling-event-camera-msgs, ros-rolling-image-transport, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rosbag2-cpp, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: frequency cam ROS/ROS2 package for event based cameras
